@charset "UTF-8";
/*$base-font-size:22px!global;
$base-line-height:20px!global;
$rhythm-unit:"rem" !global;
$grid-background-baseline-color:rgba(110, 110, 110, 0.65);
$rem-with-px-fallback: true !global;
@include establish-baseline;
//╨Я╨╛╨┤ ╤А╨░╨╖╨╜╨╛╨╡ ╤А╨░╨╖╤А╨╡╤И╨╡╨╜╨╕╨╡ ╤Н╨║╤А╨░╨╜╨╛╨▓
@media only screen and(min-width:240px) and (max-width:480px) {
    $base-font-size: 12px!global;
    $base-line-height: 18px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}

@media only screen and(min-width:480px) and (max-width:760px) {
    $base-font-size: 12px!global;
    $base-line-height: 18px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}
@media only screen and(min-width:760px) and (max-width:1000px) {
    $base-font-size: 14px!global;
    $base-line-height: 21px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}

@media only screen and(min-width:1000px) and (max-width:1157px) {
    $base-font-size: 14px!global;
    $base-line-height: 21px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}
@media only screen and(min-width:1157px) and (max-width:1460px) {
    $base-font-size: 16px!global;
    $base-line-height: 19px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Yanone+Kaffeesatz:200,300,400,700&subset=cyrillic,cyrillic-ext");
html {
  font-size: 1vw;
}

body {
  color: #fff;
  font-family: 'Play', sans-serif;
}

img,
iframe {
  margin: auto;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

a, button {
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

a {
  text-decoration: none;
  color: #140e0e;
  	/*&:hover{
          cursor: pointer;
          -webkit-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
          -moz-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
          box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
      }*/
}

a {
  text-decoration: none;
  opacity: 0.95;
}
a:hover {
  cursor: pointer;
  opacity: 1;
}

nav .middle:after, main .line .middle:after {
  content: "";
  display: table;
  clear: both;
}

header .middle, nav .navigator_list li:hover ul, main .search_form p.search_form_click, main .article_box_contact_option, main .stages_step {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header .header_right_menu .right_menu_form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

nav .navigator, main .search_form, main .article .middle, main .article_lenta_news ul li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

main .article_component_tabs_block .element, footer .footer_menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/*font-family: 'Russo One', sans-serif;
font-family: 'Play', sans-serif;*/
.middle {
  box-sizing: border-box;
  background: #fff;
}

body {
  background-image: url(../../img/metal.png);
}

header .middle {
  background-image: url(/../img/head_bg.png);
  background-size: contain;
  background-position: center;
}
header .header_logo {
  padding-top: 4.8em;
  padding-bottom: 4.8em;
}
header .header_right_menu {
  background: #252525;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
header .header_right_menu p {
  text-align: center;
  font-family: "Russo One", sans-serif;
}
header .header_right_menu .right_menu_form {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
header .header_right_menu .right_menu_form .user {
  position: relative;
}
header .header_right_menu .right_menu_form .user:before {
  content: '';
  background-image: url(../../img/user.png);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  display: block;
  float: left;
  position: absolute;
  bottom: 0.5rem;
  margin-left: 0.3rem;
}
header .header_right_menu .right_menu_form .lock {
  position: relative;
}
header .header_right_menu .right_menu_form .lock:before {
  content: '';
  background-image: url(../../img/lock.png);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  display: block;
  float: left;
  position: absolute;
  bottom: 0.5rem;
  margin-left: 0.3rem;
}
header .header_right_menu .right_menu_form input {
  font-size: 0.75em;
  line-height: 2em;
  line-height: normal;
  border-radius: 5px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background: #bbbbbb;
  color: #3d3d3d;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
}
header .header_right_menu .right_menu_form input[type='submit'] {
  background: #ffc723;
  border: 0;
  border-bottom: 3px solid #a77a00;
  font-size: 0.875em;
  line-height: 1.71429em;
}
header .header_right_menu a {
  text-align: center;
  color: #fff;
  display: block;
}
header .header_right_menu a:hover {
  text-decoration: underline;
}

nav .middle {
  background: #000;
  color: #fff;
  position: relative;
}
nav .navigator_list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  float: left;
}
nav .navigator_list li {
  border-right: 4px solid #fff;
}
nav .navigator_list li a {
  font-family: "Russo One", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  display: block;
}
nav .navigator_list li ul {
  display: none;
}
nav .navigator_list li:hover a {
  background: #f0b102;
}
nav .navigator_list li:hover ul {
  position: absolute;
  width: 100%;
  left: 0;
}
nav .navigator_list li:hover ul li {
  width: 33.33%;
  border: 0;
}
nav .navigator_list li:hover ul li a {
  background: #939393;
  text-align: center;
  color: #000;
}
nav .navigator_list li:hover ul li:nth-child(2n) {
  border: 2px solid;
  border-bottom: 0;
  border-top: 0;
}
nav .navigator_list li:hover ul li:hover a {
  background: #f0b102;
}
nav .navigator_cart {
  float: left;
  cursor: pointer;
  background-image: url(../../img/car2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
nav .navigator_cart img {
  width: 50%;
  margin: 0;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  margin-left: auto;
  margin-right: auto;
}
nav .navigator_cart img.navi_cart_img.yellow {
  opacity: 0;
}

main .search .middle {
  background: #b7b7b7;
}
main .search .middle.search {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background: #90a0b4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYTBiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDhiYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: -webkit-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: linear-gradient(to bottom, #90a0b4 0%, #748ba5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90a0b4', endColorstr='#748ba5',GradientType=0 );
}
main .search_form {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-right: 0;
  display: table;
  box-sizing: border-box;
}
main .search_form p {
  display: table-cell;
}
main .search_form p:nth-child(1) {
  vertical-align: middle;
}
main .search_form p.search_form_click input {
  display: block;
}
main .search_form p.search_form_click input[type="search"] {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
main .search_form p.search_form_click input[type="submit"] {
  background: #ffc723;
  font-family: "Russo One", sans-serif;
  border-radius: 5px;
  border: 0;
  border-bottom: 3px solid #a77a00;
  font-size: 1em;
  line-height: 1.5em;
}
main .line .middle {
  background: #b7b7b7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
main .line h1 {
  display: block;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000;
  font-family: "Russo One", sans-serif;
}
main .article_box_text {
  color: #000;
  padding-top: 3em;
  padding-bottom: 3em;
}
main .article_box_text p {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.3em;
  line-height: 2.30769em;
}
main .article_lenta_news {
  background: #515151;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  box-sizing: border-box;
}
main .article_lenta_news > p {
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-size: 1.2em;
  line-height: 1.25em;
}
main .article_lenta_news ul li:before {
  content: '';
  background: url(../../img/cube.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  display: block;
}
main .article_lenta_news ul li div {
  margin-bottom: 0.5rem;
}
main .article_lenta_news ul li a {
  display: block;
  float: left;
  color: #dca432;
  text-decoration: underline;
  line-height: normal;
  margin-bottom: 0.3rem;
}
main .article_lenta_news ul li span {
  display: inline-block;
}
main .article_lenta_news ul li span:before {
  content: '[';
  float: left;
}
main .article_lenta_news ul li span:after {
  content: ']';
  float: right;
}
main .article_box_contact {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
main .article_box_contact .h1 {
  font-size: 1.33em;
  line-height: 2.25564em;
}
main .article_box_contact_option {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
main .article_box_contact_option div {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 1.1em;
  line-height: 1.36364em;
  line-height: normal;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
main .article_box_contact_option div:nth-child(1) {
  background: #3c6487;
  color: #fff;
}
main .article_box_contact_option div:nth-child(2) {
  box-sizing: border-box;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  border-right: 3px solid #707070;
  text-align: right;
  color: #707070;
}
main .article_box_contact_option div:nth-child(2) a {
  color: #707070;
}
main .article_component_tabs {
  color: #000;
}
main .article_component_tabs_name {
  text-align: center;
  font-weight: 700;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #e8e8e8;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2M1YzVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWM1YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e8e8e8 0%, #c5c5c4 51%, #c5c5c4 100%);
  background: -webkit-linear-gradient(top, #e8e8e8 0%, #c5c5c4 51%, #c5c5c4 100%);
  background: linear-gradient(to bottom, #e8e8e8 0%, #c5c5c4 51%, #c5c5c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c5c5c4',GradientType=0 );
}
main .article_component_tabs_block .element {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
main .article_component_tabs_block .element.start {
  color: #fff;
  background: #90a0b4;
  border-bottom: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYTBiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDhiYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: -webkit-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: linear-gradient(to bottom, #90a0b4 0%, #748ba5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90a0b4', endColorstr='#748ba5',GradientType=0 );
}
main .article_component_tabs_block .element div {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-left: 2px solid #7188a3;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 2px solid #7188a3;
}
main .article_component_tabs_block .element div:last-child {
  border-right: 2px solid #7188a3;
}
main .article_component_tabs_text {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 3rem;
  padding-right: 3rem;
}
main .maps .middle {
  padding-bottom: 1.5em;
}
main .stages .middle {
  background: #fff;
  color: #000;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
main .stages p {
  font-size: 1.1em;
  line-height: 1.36364em;
  margin-bottom: 1.5em;
}
main .stages_step div {
  border: 2px solid;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  line-height: 1.25em;
  line-height: normal;
  position: relative;
}
main .stages_step div::after {
  content: '';
  background-image: url(../../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 3rem;
  height: 2rem;
  margin-right: -2.6rem;
  margin-top: 10px;
  top: 0;
  float: right;
  position: absolute;
  right: 0;
}
main .stages_step div:last-child::after {
  display: none;
}
main .stages_step div.active {
  background: #90a0b4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYTBiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDhiYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: -webkit-linear-gradient(top, #90a0b4 0%, #748ba5 100%);
  background: linear-gradient(to bottom, #90a0b4 0%, #748ba5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90a0b4', endColorstr='#748ba5',GradientType=0 );
}

footer {
  margin-bottom: 3em;
}
footer .middle {
  padding-bottom: 1.5em;
}
footer .footer_menu li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer .footer_menu li a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #848484;
}
footer .footer_menu li:after {
  content: '|';
  float: right;
  display: block;
  margin-left: 1rem;
  color: #848484;
  font-size: 20px;
}
footer .footer_menu li:last-child:after {
  display: none;
}
